header {
    // background-color: #1b2330;
    background-color: $clr3;
    color: $clr6;
    padding: 75px 80px 51px;
    >:nth-child(2){
        gap: 108px;
        >*{
            width: 50px;
            height: 19px; 
            font-size: 16px;
            font-style: normal;
            letter-spacing: normal;
            line-height: normal;
        }
    }
}