.who-search-container{
    position: relative;
    width: 100%;
}

.details-who-search{
    position: absolute;
    top: 0;
    z-index: 10;
    padding: 16px;
    margin: 0px 0px 16px;
    border: 1px solid rgba(0, 0, 0, 0.189);
    background-color: white;
    border-radius: 8px;
}