// Colors
$clr1: #0b1524;
$clr2: #181f2b;
$clr3: #1b2330;
$clr4: #95adbe;
$clr5: #dff0ea;
$clr6: #ffffff;

// LAYOUT
$layoutPadding: 20px;

// Breakpoints
$mobile-breakpoint: 550px;
$narrow-breakpoint: 950px;
$small-breakpoint: 1128px;
$normal-breakpoint: 1640px;
$wide-breakpoint: 1880px;


$padded-break-mobile: $mobile-breakpoint - 48px;
$padded-break-narrow: $narrow-breakpoint - 48px;
$padded-break-small: $small-breakpoint - 80px;
$padded-break-normal: $normal-breakpoint - 80px;
$padded-break-wide: $wide-breakpoint - 160px;
// $padded-break-extra-wide: $break-wide - $layoutPadding * 2;
